GOOGLE_API_KEY=
GOOGLE_EMBEDDING_MODEL='models/gemini-embedding-2-preview'
GOOGLE_CHAT_MODEL='gemini-3.5-flash'
OPENAI_API_KEY=
OPENAI_EMBEDDING_MODEL='text-embedding-3-small'
OPENAI_CHAT_MODEL='gpt-5.6-luna'
DATABASE_URL=
PG_VECTOR_COLLECTION_NAME=
PDF_PATH='document.pdf'